.postDetail {
    border-radius: var(--radius);
    box-shadow: 0 0 0 1px var(--card-border);
    display: flex;
    flex-direction: column;
    padding: var(--story-padding);
    margin: var(--su-3) 0;
    background-color: #1a2634;

    .header {

        .headerLeft {
            width: 32px;
            height: 32px;
            display: inline-block;
            border-radius: 100%;
            margin-right: var(--su-2);

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        .headerRight {
            display: inline-block;
            .writerName {
                color: var(--card-color-secondary);
                font-weight: var(--fw-medium) !important;
                text-decoration: none;
                line-height: var(--lh-tight);
                font-size: var(--fs-s);

                &:hover {
                    color: var(--card-color);
                }
            }

            .publishDate {
                color: var(--card-color-tertiary);
                font-size: var(--fs-xs) !important;

                &:hover {
                    color: var(--card-color);
                }
            }
        }
    }

    .body {
        .title {
            color: var(--card-color);
            a, a:active, a:visited {
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: var(--link-color-hover);
                }
            }
        }

        .brief {
            color: var(--base-80) !important;
        }
    }
}