.roundButton {
    display: flex;
    color:#6e767f;
    justify-content: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;

    &:hover {
        background-color: #222e3b;
        color: #8d949b;
    }

    & > * {
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }
}