.social-network {
    span {
        display: inline-flex;
        margin-left: 18px;

        a, a:visited, a:active {
            color: var(--link-color-secondary);

            &:hover {
                color: var(--link-color-hover);
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    span:last-child {
        margin-right: 5px;
    }
}