.profile {
    border-radius: var(--radius);
    box-shadow: 0 0 0 1px var(--card-border);
    display: flex;
    flex-direction: column;
    background-color: var(--base-10);
    user-select: none;


    .profile-top {
        display: flex;
        justify-content: center;
        position: relative;

        @media (max-width: 640px) {
            & {
                justify-content: start;
            }
        }

        .profile-photo {
            margin-top: -60px;
            padding: var(--su-2);
            width: var(--su-10);
            height: var(--su-10);
            background-color: var(--profile-brand-color);
            border-radius: 100%;

            @media (max-width: 640px) {
                & {
                    position: absolute;
                    padding: 5px;
                    left: 2rem;
                    margin-top: -40px;
                    width: 80px;
                    height: 80px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        .follow-me {
            position: absolute;
            right: 0;
            padding: var(--padding) var(--padding) 0 0;
        }
    }

    .profile-middle {
        .my-name {
            font-size: var(--fs-3xl);
            color: var(--base-100);
            font-weight: var(--fw-heavy) !important;
            text-align: center;
            margin: 14px 0;
        }

        .comment {
            font-size: var(--fs-l) !important;
            margin-bottom: var(--su-4) !important;
            color: var(--base-90) !important;
            text-align: center;
        }

        .social-networks {
            font-size: var(--fs-s);
            color: var(--base-60);
            margin-bottom: var(--su-2);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            fill: rgb(141, 148, 155);
        }
    }

    .profile-bottom {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 1em;

        div:first-child {
            color: var(--base-60);
        }

        div:last-child {
            color: var(--card-color);
        }
    }
}